<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css
"
      rel="stylesheet"
    />
    <link href="/css/style.css" rel="stylesheet" />
    <title>The Tech Blog</title>
  </head>
  <body>
    <header class="d-flex align-items-center justify-content-between">
      <h1>The Tech Blog</h1>
      <nav class="navbar">
        <ul class="navbar-nav d-flex flex-row">
          <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
          <li class="nav-item"><a
              class="nav-link"
              href="/dashboard"
            >Dashboard</a></li>
          <li>
            {{#if loggedIn}}
              <a class="nav-link" id="logout">Logout</a>
            {{else}}
              <a class="nav-link" href="/login">Login</a>

            {{/if}}
          </li>
        </ul>
      </nav>

    </header>
    <main>

      {{{body}}}
    </main>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js
"
    ></script>
    {{#if loggedIn}}
      <script src="./js/logout.js"></script>
    {{/if}}
  </body>
</html>