<div style="width: 75%; margin: 0 auto">
  <h2>Login</h2>
  <form class="login-form">
    <div class="mb-3">
      <label for="login-email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="login-email" />
    </div>
    <div class="mb-3">
      <label for="login-password" class="form-label">Password</label>
      <input type="password" class="form-control" id="login-password" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<div style="width: 75%; margin: 0 auto">
  <a href="/signup"><button class="btn btn-success">Sign Up</button></a>

</div>

<script src="./js/login.js"></script>