<div style="width: 75%; margin: 0 auto">
  <h2>Sign up</h2>
  <form class="signup-form">
    <div class="mb-3">
      <label for="name-signup" class="form-label">Name</label>
      <input type="text" class="form-control" id="name-signup" />
    </div>
    <div class="mb-3">
      <label for="email-signup" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email-signup"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3">
      <label for="password-signup" class="form-label">Password</label>
      <input type="password" class="form-control" id="password-signup" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<script src="./js/signup.js"></script>